<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious</title>
    <link rel="stylesheet" href="style.css"> <!-- Підключення CSS -->
</head>
<body id="main">
    <div id="app">
       
    <!-- Harder Section (Title) -->
    <header id="header">
        <h1>Delicious</h1>

        <div class="auth-buttons">
            <button class="btn sign-in" id="sign-in-btn" v-on:click="signinboxOpen()">Sign In</button>
            <button class=btn register id=register-btn v-on:click=registerboxOpen()>Register</button>
            <button class="btn sign-out" style="display: none;">Sign Out</button>
        </div>
        
        <!-- Попап для Sign In -->
<div class="popup" :class="{ 'popup-view' : signinbox }">
    <div class="close" v-on:click="signinboxOpen()">&times;</div>
  <h2 class="title">Sign In</h2>
  <input type="text" v-model="signInLogin" class="input login" placeholder="Логін">
  <input type="password" v-model="signInPass" class="input password" placeholder="Пароль">
  <div class="button" v-on:click="submitSignIn()">Sign In</div>
</div>
        
        <!-- Попап для Register -->
<div class="popup" :class="{ 'popup-view' : registerbox }">
    <div class="close" v-on:click="registerboxOpen()">&times;</div>
  <h2 class="title">Register</h2>
            <div class="block-form">
                <label for="register-username">Username:</label>
                <input v-model="registerUsername" class="input" type="text" id="register-username" name="username" required>
            </div>
            <div class="block-form">
                <label for="register-email">Email:</label>
                <input v-model="registerEmail" class="input" type="email" id="register-email" name="email" required>
            </div>
            <div class="block-form">
                <label for="register-password">Password:</label>
                <input v-model="registerPass" class="input" type="password" id="register-password" name="password" required>
            </div>
  <div class="button" v-on:click="submitRegister()">Register</div>
</div>
    </header>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a href="#reservation">Reservation</a></li>
        </ul>
    </nav>

     <!-- Home Section -->
<section id="home">
    <h2>Welcome to Cafe "Delicious"!</h2>
    <p>We offer delicious dishes and a cozy atmosphere</p>



    <!-- Галерея -->
    <div class="gallery">
        <img src="images/img11.jpeg" alt="Інтер'єр 1">
        <img src="images/img21.jpeg" alt="Інтер'єр 2">
        <img src="images/img31.jpeg" alt="Інтер'єр 3">
        <img src="images/img41.jpeg" alt="Інтер'єр 4">
    </div>
</section>

    <!-- Menu Section -->
    <section id="menu">
        <h2>MENU</h2>
        <div class="menu-columns">

            <div class="menu-column" v-for="(item, index) in menuArray">
                <h3>{{item.title}}</h3>
                <img :src="item.image" :alt="item.title">
                <ul>
                    <li v-for="(itemProduct, indexProduct) in item.product">{{itemProduct}}</li>
                </ul>
            </div>

        </div>
    </section>

    <!-- Reservation Section -->
<section id="reservation">
    <h2>Table Reservation</h2>
    <a hre="" v-on:click="reserveOpen()"  v-if="!reserveForm">
        <button>Reserve a Table</button>
    </a>

<form id="reservation-form" v-if="reserveForm">
    <div class="close" v-on:click="reserveClose()">&times;</div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>

    <label for="dish">Choose a dish or drink:</label>
    <select id="dish" name="dish" required>
        <option value="" disabled selected>-- Select an option --</option>
        <optgroup v-for="(item, index) in optionArray" :label="item.title">
            <option v-for="(itemOption, indexOption) in item.product" v-model="itemOption.value">{{itemOption.text}}</option>
        </optgroup>
    </select>

    <button type="submit">Reserve</button>
</form>
</section>

 <!-- Contacts Section -->
 <section id="contacts">
    <h2>Contacts</h2>
    <p>Address: 1 Khlibna St., Kyiv</p>
    <p>Phone: +38 (044) 123-45-67</p>
    <p>Working hours: Mon-Fri 10:00 AM - 10:00 PM, Sat-Sun 12:00 PM - 11:00 PM</p>
</section>

</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script> <!-- Підключення JavaScript -->
</body>
</html>